:root{
    --color-text-sky-600: oklch(58.8% 0.158 241.966);
}

.rin, .win, .gis, .nin{
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius:10px;
    border:1px solid lime;

    height: 65%;
    width: 40%;
}

.navbar:has(.k:hover){
    border-bottom: 4px solid lightcoral;
}
.navbar:has(.w:hover){
    border-bottom: 4px solid lightblue;

}
.navbar:has(.n:hover){
    border-bottom: 4px solid lightpink;

}
.navbar:has(.g:hover){
    border-bottom: 4px solid lightseagreen;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33.33%;
}

.section-title{
    height: 10%;
    margin-top: 4%;
    font-size: xx-large;
    color: var(--color-text-sky-600);
}

.section-content{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-sky-600);
}