:root{
    --color-text-sky-600: oklch(65.839% 0.18411 41.799);
}

.navbar:has(.k-profile:hover){
    border-bottom: 4px solid lightcoral;
}
.navbar:has(.k-feedback:hover){
    border-bottom: 4px solid purple;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33.33%;

    text-align: center;
}

